{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% else %}
<p> Вы не авторизованы </p>
{% endif %}
