{% extends 'base.html.twig' %}

{% block main_cont %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<h1>Категории</h1>
	<ul>
		{% for category in categories %}
			<li><a href="{{ path('show_video_by_cat', {'category_id' :category.id}) }}">{{ category.title }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<p>Вы не авторизованы</p>
	{% endif %}
{% endblock %}
