{% extends 'base.html.twig' %}

{% block title %}Добавить{% endblock %}

{% block main_cont %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<h1>Добавить новое видео</h1>

	{{ include('video/_form.html.twig') }}
	{% else %}
		<p>Вы не авторизованы</p>
	{% endif %}

{% endblock %}
