{% extends 'base.html.twig' %}

{% block main_cont %}
	<h1>Мои видео</h1>
	{% for video in videos %}
		Название: {{ video.title }}<br>
		Категория: {{ video.category.title }}<br>
		<iframe src="https://www.youtube.com/embed/{{ video.youtubeId }}"></iframe><br>
	{% endfor %}
{% endblock %}
